In [ ]:
from selenium import webdriver
driver = webdriver.Chrome(executable_path = "H:\\MSIT 2nd Year\\DADV\\Selenium\\chromedriver.exe")
driver.maximize_window()
driver.get("https://www.imdb.com/interfaces/")

driver.find_element_by_partial_link_text("https://datasets.imdbws.com/").click()
driver.find_element_by_partial_link_text("name.basics.tsv.gz").click()
driver.find_element_by_partial_link_text("title.akas.tsv.gz").click()
driver.find_element_by_partial_link_text("title.basics.tsv.gz").click()
driver.find_element_by_partial_link_text("title.crew.tsv.gz").click()
driver.find_element_by_partial_link_text("title.episode.tsv.g").click()
driver.find_element_by_partial_link_text("title.principals.tsv.gz").click()
driver.find_element_by_partial_link_text("title.ratings.tsv.gz").click()

In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
while True:
    try:
        basics = pd.read_csv('H:\\MSIT 2nd Year\\DADV\\Selenium\\IMDB Data\\Data\\basics.tsv',delimiter='\t',encoding='utf-8')
        break
    except:
        print(" not reading..")
        time.sleep(5)
        pass

c:\users\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
while True:
    try:
        ratings = pd.read_csv('H:\\MSIT 2nd Year\\DADV\\Selenium\\IMDB Data\\Data\\ratings.tsv',delimiter='\t',encoding='utf-8')
        break
    except:
        print(" not reading.. just waiting")
        time.sleep(5)
        pass

In [4]:
rating_basics = pd.merge(basics,ratings,on='tconst')
rating_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",5.6,1559
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",6.1,188
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",6.5,1221
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short",6.1,114
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short",6.1,1950

In [5]:
rating_basics.sort_values("averageRating", axis = 0, ascending = False, inplace = True, na_position ='last')
rating_basics['originalTitle'].iloc[:20]

807758          Episode dated 15 March 2002
807388        Episode dated 20 January 2003
807369       Episode dated 25 February 2003
450549    St. Petersburg resident in Moscow
807370       Episode dated 26 February 2003
807371         Episode dated 1 January 2003
807372         Episode dated 2 January 2003
807373       Episode dated 27 February 2003
807374       Episode dated 28 February 2003
807375         Episode dated 7 January 2003
807376         Episode dated 6 January 2003
807377         Episode dated 3 January 2003
509110     Skills for Actors: Circus Skills
807378         Episode dated 8 January 2003
807379        Episode dated 10 January 2003
807380        Episode dated 13 January 2003
807381         Episode dated 9 January 2003
531057                         Meet Chrissy
531055             Lewie and Crew Do Studio
839815                   A Touch of the Sun
Name: originalTitle, dtype: object

In [6]:
rating_basics["startYear"] = pd.to_numeric(rating_basics["startYear"], errors='coerce')

In [7]:
tempDf = rating_basics[rating_basics.startYear>2000]
tempDf = tempDf[tempDf.numVotes>40000]
tempDf["popular"] = tempDf.numVotes*tempDf.averageRating
tempDf.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,popular
658955,tt2301451,tvEpisode,Ozymandias,Ozymandias,0,2013.0,\N,48,"Crime,Drama,Thriller",10.0,109458,1094580.0
658957,tt2301455,tvEpisode,Felina,Felina,0,2013.0,\N,55,"Crime,Drama,Thriller",9.9,79114,783228.6
761418,tt3866850,tvEpisode,Hardhome,Hardhome,0,2015.0,\N,61,"Action,Adventure,Drama",9.9,85946,850865.4
988556,tt9166696,tvEpisode,Vichnaya Pamyat,Vichnaya Pamyat,0,2019.0,\N,72,"Drama,History,Thriller",9.9,48081,476001.9
643951,tt2178784,tvEpisode,The Rains of Castamere,The Rains of Castamere,0,2013.0,\N,51,"Action,Adventure,Drama",9.9,85301,844479.9

In [9]:
tempDf.sort_values("popular", axis = 0, ascending = False, inplace = True, na_position ='last')
print(list(tempDf.originalTitle.head(20)))

['The Dark Knight', 'Inception', 'Game of Thrones', 'The Lord of the Rings: The Return of the King', 'The Lord of the Rings: The Fellowship of the Ring', 'Breaking Bad', 'The Lord of the Rings: The Two Towers', 'The Dark Knight Rises', 'Interstellar', 'Django Unchained', 'Batman Begins', 'Inglourious Basterds', 'The Avengers', 'The Departed', 'The Prestige', 'The Wolf of Wall Street', 'Shutter Island', 'Avatar', 'V for Vendetta', 'Guardians of the Galaxy']